{% extends "guide/base.html" %}
{% block content %}
<div class="card">
  <h2>로그인</h2>
  <form method="post">
    {% csrf_token %}
    <div class="row"><input type="text" name="empno" placeholder="사번 입력"></div>
    <div class="row"><input type="password" name="password" placeholder="비밀번호 입력"></div>
    <button type="submit">로그인</button>
  </form>

  {% if messages %}
    {% for message in messages %}
      <div class="error">{{ message }}</div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
