{% extends "base.html" %}
{% block content %}
<div class="login-card">
    <h2>비밀번호 변경</h2>
    <p>정보를 입력해주세요</p>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="empno" placeholder="사번 입력" required>
        <input type="password" name="old_password" placeholder="기존 비밀번호" required>
        <input type="password" name="new_password" placeholder="새 비밀번호" required>
        {% if error %}<p style="color: #e74c3c; font-size: 14px;">{{ error }}</p>{% endif %}
        <button type="submit" class="btn-main bg-gray">비밀번호 변경하기</button>
    </form>
    <div style="margin-top: 20px;">
        <a href="{% url 'login' %}" style="color: #666; text-decoration: none; font-size: 15px;">🔙 로그인 화면으로</a>
    </div>
</div>
{% endblock %}
